@charset "utf-8";


main {
    margin: 70px auto;
    padding: 50px 80px;
    border: 3px solid rgb(252, 122, 191);
    background-color: rgb(251, 244, 248);
    width: 800px;
}

main p {
    font-size: 25px;
}

.imgL {
    float: left;
    margin-right: 20px;
}

button {
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-size: 15px;
    text-decoration: underline;
    color: #f00;
}
button:hover {
    color: rgb(131, 2, 2);
}